*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family: 'Times New Roman', Times, serif ;
    background-color: #d2d2d2;
    color: white;
}
.navbar{
    
    background-color: rgb(171,235, 198);
    height: 48px;
    padding: 10px 12px;
    position: relative;
}
.checkbox, .icons{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}
.icons{
    pointer-events: none;
    font-size: 24px;
}
.checkbox{
    opacity: 0;
}
.fi-br-cross{
    display: none;
}
.checkbox:checked ~ .fi-br-menu-burger{
    display: none;
}
.checkbox:checked ~ .fi-br-cross{
 display: block;
}
.menu{
    
    width: 200px;
    position: absolute;
    top: -105px;
    z-index: -1;
    right: 0px;
    transition: 250ms;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: inherit;
    background-color: rgb(34, 153, 84);
    display: block;
    padding: 20px 10px 1px;
}
.menu li a:hover{
    background-color: rgb(9, 105, 49);
}
.checkbox:checked ~ .menu{
    /*display: block;*/
    top: 50px;
}
@media (min-width: 560px){
    .checkbox, .fi-br-menu-burger, .fi-br-cross{
        display: none;
    }
    .menu{
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
        height: 48px;
    }
    .menu a{
        height: 48px;
        padding: 14px 12px 6px;
    }
}
h1{
    color: rgb(34, 153, 84);
    
}


.formulario{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none ;
    
}

label{
    font-size: 20px;
    color: rgb(34, 153, 84);
}

button{
    background-color: rgb(34, 153, 84);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes{

    display: flex;
    justify-content: center;
    align-items: center;
    

}

.bienvenida{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.enlace{

   display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none ;
    background-color: rgb(171,235, 198);
    
    

    a{
        text-decoration: none;
        color: rgb(34, 153, 84);
        font-size: 20px;
    }
}


